version: "3.9"
services:
  rtmp:
    build: ./backend
    ports:
      - "8080:8080"
    container_name: coder_stream_service
    volumes:
      - ./backend/data:/tmp/hls
  nextjs:
    build: ./front
    ports:
      - "3000:80"
    container_name: coder_stream_ui
